{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block body %}

<header>

    <h1 class="mx-auto text-center mt-5">
        <span style="color: #daa520">Pełny</span>Portfel.com
    </h1>
</header>

<main>


    <section>

        <div class="container-fluid menu">

            <!--<div class="col-sm-8 col-md-6 col-lg-4 mx-auto text-center"> -->

            <nav class="navbar navbar-light bg-menu navbar-expand-md">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu">
                    <span class="navbar-toggler-icon"> </span>
                </button>

                <div class="collapse navbar-collapse" id="mainmenu">

                    <ul class="navbar-nav mx-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="#" > <i class="icon-dollar"></i>  Dodaj przychód </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" > <i class="icon-basket"></i> Dodaj wydatek</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"> <i class="icon-chart-pie"></i> Przeglądaj bilans</a>

                            <div class="dropdown-menu">

                                <a class="dropdown-item" href="#"> Bieżący miesiąc</a>
                                <a class="dropdown-item" href="#"> Poprzedni miesiąc</a>
                                <a class="dropdown-item" href="#"> Bieżący rok </a>
                                <a class="dropdown-item" href="#"> Niestandardowy</a>


                            </div>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" > <i class="icon-cogs"></i> Ustawienia </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/logout" ><i class="icon-logout"></i> Wyloguj się </a>
                        </li>


                    </ul>

                </div>

            </nav>




        </div>

    </section>

</main>




<footer class="footer mt-5">
    Pełnyportfel.com &copy; 2020

</footer>

{% endblock %}