{% extends 'base.html' %}

{% block title %}Dodaj wydatek{% endblock %}

{% block body %}

<header>

    <h1 class="mx-auto text-center mt-5">
        <span style="color: #daa520">Pełny</span>Portfel.com
    </h1>
</header>

<main>


    <section>

        <div class="container-fluid menu">

            <!--<div class="col-sm-8 col-md-6 col-lg-4 mx-auto text-center"> -->

            <nav class="navbar navbar-light bg-menu navbar-expand-md">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu">
                    <span class="navbar-toggler-icon"> </span>
                </button>

                <div class="collapse navbar-collapse" id="mainmenu">

                    <ul class="navbar-nav mx-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/income/index" > <i class="icon-dollar"></i>  Dodaj przychód </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/expense/index" > <i class="icon-basket"></i> Dodaj wydatek</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"> <i class="icon-chart-pie"></i> Przeglądaj bilans</a>

                            <div class="dropdown-menu">

                                <a class="dropdown-item" href="/balance/current-month"> Bieżący miesiąc</a>
                                <a class="dropdown-item" href="#"> Poprzedni miesiąc</a>
                                <a class="dropdown-item" href="#"> Bieżący rok </a>
                                <a class="dropdown-item" href="#"> Niestandardowy</a>


                            </div>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" > <i class="icon-cogs"></i> Ustawienia </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/logout" ><i class="icon-logout"></i> Wyloguj się </a>
                        </li>


                    </ul>

                </div>

            </nav>


        </div>


        <div class="container-fluid my-4 py-4">


            <form class="col-sm-10 col-md-8 col-lg-6 py-3 mx-auto square" action="/expense/create" method="post" enctype="multipart/form-data">

                <div class="row justify-content-around">


                    <div class="col-sm-10 col-lg-8 form-group">
                        <input type="number" class="form-control" name="amount" step="0.01" placeholder="Kwota" required>
                    </div>

                    <div class="col-sm-10 col-lg-8 form-group">
                        <input class="form-control" type="date" name="dateOfExpense" id="today" required>
                    </div>

                    <script>
                        document.getElementById('today').value = new Date().toISOString().substring(0, 10);
                    </script>


                    <div class="col-sm-10 col-lg-8 form-group">
                            <select class="form-control" name="expenseCategory" >

                                {% for userExpenseCategory in userExpenseCategories %}
                                    <option>{{ userExpenseCategory.name }}</option>
                                {% endfor %}

                            </select>

                    </div>


                    <div class="col-sm-10 col-lg-8 form-group">
                        <select class="form-control" name="paymentMethod" >

                            {% for userPaymentMethod in userPaymentMethods %}
                                <option>{{ userPaymentMethod.name }}</option>
                            {% endfor %}

                        </select>

                </div>

                    <div class="col-sm-10 col-lg-8 form-group">
                        <textarea class="form-control" name="expenseComment" id="komentarz" rows="4" maxlength="100"
                        placeholder="Komentarz"></textarea>
                    </div>

                    <div class="col-sm-10 col-lg-8">
                        <button class="btn bg-menu" type="submit">Dodaj</button>
                        <button class="btn bg-menu" type="reset">Anuluj</button>

                    </div>

                </div>

            </form>

        </div>

    </section>

</main>



<footer class="footer mt-5">
    Pełnyportfel.com &copy; 2020

</footer>

{% endblock %}